.plus {
    float: none;
    position: relative;
    border-width: 2px !important;
}
.plus-text{
    font-size: 1.2em;
    margin-top: -0.25em;
}
.save-buttons {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1020;
    padding-top: .5rem;
}

